.categories {
    flex-wrap: wrap;
  }

.teacher-container {
    margin-top: 100px;
    margin-bottom: 100px;
}

.categories-title {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}